
<div >
<h1 class="text-center">Welcome To Ewallet Application </h1>

<!-- 
<nav class="col-md-12 row p-3 bg-dark">
    <a class="nav-item nav-link  " routerLink="add">Fund Transfer</a>

   <a class="nav-item nav-link " routerLink="show">Transaction History</a>
  
  
  </nav>

  
  <router-outlet></router-outlet> -->

</div> 

<br>

<div class="flex-container">
    <div >
      <a class="nav-item nav-link  " routerLink="add">
        
        <img src="assets/addMoney.png"> <br>
        Add Money
      </a>
    </div>


<div >
<a class="nav-item nav-link  " routerLink="add">
<img src="assets/transfer.png" class="inline-block"><br>
Transfer Money</a>
</div>



<div >
<a class="nav-item nav-link " routerLink="show">
  <img src="assets/history.png" class="inline-block"><br>
  Transaction History</a>
</div>


</div>

<router-outlet></router-outlet> -->